<div class="products">
    <div class="product">
        <mat-card>
            <p>Neutrogena Moisturizer</p>
            <p>&#8377;<strong>450</strong></p>
            <img src="https://m.media-amazon.com/images/I/71HI+imbeEL._SY879_.jpg" class="product-img" alt="neutrogena sunscreen">
            <button> Add to cart</button>
        </mat-card>
    </div>
    <div class="product">
        <mat-card>
            <p>Neutrogena Moisturizer</p>
            <p>&#8377;<strong>450</strong></p>
            <img src="https://m.media-amazon.com/images/I/71HI+imbeEL._SY879_.jpg" class="product-img" alt="neutrogena sunscreen">
            <button> Add to cart</button>
        </mat-card>
    </div>
    <div class="product">
        <mat-card>
            <p>Neutrogena Moisturizer</p>
            <p>&#8377;<strong>450</strong></p>
            <img src="https://m.media-amazon.com/images/I/71HI+imbeEL._SY879_.jpg" class="product-img" alt="neutrogena sunscreen">
            <button> Add to cart</button>
        </mat-card>
    </div>
    <div class="product">
        <mat-card>
            <p>Neutrogena Moisturizer</p>
            <p>&#8377;<strong>450</strong></p>
            <img src="https://m.media-amazon.com/images/I/71HI+imbeEL._SY879_.jpg" class="product-img" alt="neutrogena sunscreen">
            <button> Add to cart</button>
        </mat-card>
    </div>
    <div class="product">
        <mat-card>
            <p>Neutrogena Moisturizer</p>
            <p>&#8377;<strong>450</strong></p>
            <img src="https://m.media-amazon.com/images/I/71HI+imbeEL._SY879_.jpg" class="product-img" alt="neutrogena sunscreen">
            <button> Add to cart</button>
        </mat-card>
    </div>
    <div class="product">
        <mat-card>
            <p>Neutrogena Moisturizer</p>
            <p>&#8377;<strong>450</strong></p>
            <img src="https://m.media-amazon.com/images/I/71HI+imbeEL._SY879_.jpg" class="product-img" alt="neutrogena sunscreen">
            <button> Add to cart</button>
        </mat-card>
    </div>
</div>